<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
  </head>
  <body>
    <strong>ユーザ登録</strong>

    <form
      th:action="@{/exam04/register-user}"
      th:object="${userForm}"
      method="post"
    >
      <div th:errors="*{name}" style="color: red"></div>
      名前:<input type="text" name="name" th:field="*{name}" /><br />

      <div th:errors="*{age}" style="color: red"></div>
      年齢:<input type="text" name="age" th:field="*{age}" /><br />

      <div th:errors="*{comment}" style="color: red"></div>
      コメント:<br />
      <textarea
        rows="5"
        cols="30"
        name="comment"
        th:field="*{comment}"
      ></textarea
      ><br />
      <button>登録</button>
    </form>
  </body>
</html>
